---
interface Props{
    icon?: "cart"; 
}


// const {
//     href = undefined, 
//     modal, 
//     submit = false,
// } = Astro.props;


const classList = [
    "button", 
    "button--shadow", 
    "button--shine", 
]


// const Element = href ? "a" : submit ? "button" : "div";
// ---

// <Element {href} type={submit ? "submit" : undefined} class:list={classList} >
//     <p>
//         <slot/>
//     </p>
//     <!-- {icon && <div class:list={["button__icon", `icon-${icon}`]} >} -->
// </Element>